
* {
  box-sizing: border-box;
}

.container {
    width: 1200px; margin:62px auto;
    margin-left: 50px;
    clear: left;
    font-family: 'Rubik', sans-serif;
    }

/*<------top nav------>*/
.topnav {
  background-color: #001730;
  overflow: hidden;

}

.topnav a {
  float: left;
  color: white;
  text-align: center;
font-family: 'Rubik', sans-serif;
  padding: 40px 250px;
  text-decoration: none;
  font-size: 17px;
     height: 100px;
}

.topnav a:hover {
  /*background-color: #1a314a;*/
  color: #4AD7D1;
}

.topnav a.active {
  background-color: #4AD7D1;
  color: white;
}

/*<------------------------------->*/

 /*<------side view nav------>*/
        .sidebar {
  height: 500px;
  width: 240px;
  background-color: #001730;
  overflow-x: hidden;
  padding-top: 16px;
  margin-top: 28px;
  padding-left: 50px;
  padding-bottom: 55px;
  text-align: left;
}

.sidebar a {
  padding: 6px 0px 15px 0px;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  display: block;
  font-family: 'Rubik', sans-serif, '700';
}

.sidebar a:hover {
  color: #FE4A49;
}

.sidebar a.active {
  color: #FE4A49;
}


/*<------------------------------->*/


    .column {
float: left;
width: 15%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

 /*   <------------------------------------>*/
  /*  to style the text fields:
      https://scotch.io/tutorials/google-material-design-input-boxes-in-css3 —> google text field form code*/


      .selectable .ui-selecting {
        border: 2px dashed #ff0000;
      }

      .selectable .ui-selected {
        border: 2px solid #ff0000;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 1);
        -moz-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 1);
        box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 1);
      }

      .selectable img {
        margin: 5px;
        padding: 5px;
        border: 2px solid #ffffff;
      }

      .selected-items {
        border: 2px solid #ff0000;
        line-height: 32px;
      }


      /* style the images */
      span.fancychecks img {
        display: block;
        margin: 0;
        padding: 0;
        transition-duration: 300ms;
        transform: scale(1);
        filter: none;
        -webkit-filter: grayscale(0);
      }
      span.fancychecks.checked img {
        transform: scale(0.8);
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }

      /* style the parent spans */
      span.fancychecks {
        padding: 0;
        margin: 5px;
        display: inline-block;
        border: 1px solid transparent;
        transition-duration: 300ms;
      }
      span.fancychecks.checked {
        border-color: #ccc;
      }

      /* Using conexo's fantastic CSS, make the checkmarks */
      span.fancychecks::before {
        background-color: rgba(50, 200, 50, 0.7);
        color: white;
        content: "✓";
        font-weight: bold;
        border-radius: 50%;
        position: absolute;
        margin: 2px;
        top: 1;
        left: 1;
        z-index: 1;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transform: scale(0);
        transition-duration: 300ms;
      }
      span.fancychecks.checked::before {
        transform: scale(1);
      }
